
<div class="text-center">
        <form>
                <button   type="submit"  [routerLink] = "'/Add'" class="btn btn-primary">Check Camera</button><br><br>
                <button   type="submit"  [routerLink] = "'/Add'" class="btn btn-primary">Add New Student</button><br><br>
                <button   type="submit"   class="btn btn-primary">Update Student</button><br><br>
                <button   type="submit"   class="btn btn-primary">Delete Student</button><br><br>
                <button   type="submit"   class="btn btn-primary">View Attendance</button><br> <br>
                <button   type="submit"   class="btn btn-primary">Email Attendance</button><br> <br>
        </form>
</div>